@keyframes stretch {
  0% { background-color: pink;}
  25% { background-color: rgb(220, 28, 159);}
  50% { background-color: rgb(207, 50, 205);}
  75% { background-color: rgb(103, 74, 198);}
  100% { background-color: rgb(21, 0, 248);}
}


@keyframes colors {
  0% { color: pink;}
  25% { color: rgb(220, 28, 159);}
  50% { color: rgb(207, 50, 205);}
  75% { color: rgb(103, 74, 198);}
  100% { color: rgb(21, 0, 248);}
}

@font-face {
  font-family: Title;
  src: url(Lobster-Regular.ttf);
}
@font-face {
  font-family: Noto;
  src: url(LobsterTwo-Regular.ttf);
}
@font-face {
  font-family: Dosis;
  src: url(Dosis-VariableFont_wght.ttf);
}


@keyframes drop-in {
  from {
    transform:
      rotate(-30deg) translateY(-100%);
    opacity: 0;
  }
  to {
    transform:
      rotate(0deg) translateY(0%);
    opacity: 1;
  }
}

@keyframes grow-and-shrink {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}


.ggg {
  animation: grow-and-shrink 2000ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

img {
    width: 60%;
    border-style: ridge;
    border-width: 10px;
    border-color: #1900ff;
    
}
body {
    background-color: #c837b9;
    color: rgb(34, 7, 39);
 font-family: Arial, Helvetica, sans-serif; 
  padding: 15px;  
}

h4{
  text-align: center;
}

.green {
  animation-name: stretch;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 0ms;
}

body.dark-mode{
    background-color: #333;
    color: aqua;
    
}
table{
  width: 100%;
  
}
td {
  width: 33%;
    
    
}
tr {
    width: 100%;
}
/* Add a black background color to the top navigation */
.topnav {
    position: relative;
    background-color: #0412aa;
    overflow: hidden;
    animation: slide-in 2000ms;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    animation: slide-in 2000ms;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: rgb(229, 86, 189);
    
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: rgb(229, 86, 189);
    color: white;
  }
  
  /* Centered section inside the top navigation */
  .topnav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: slide-in 2000ms;
  }
  a {
    font-family: Dosis;
    font-weight: 700;
  }
  
  /* Right-aligned section inside the top navigation */
  .topnav-right {
    float: right;
    animation: slide-in 2000ms;
  }
  
  /* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
  @media screen and (max-width: 600px) {
    .topnav a, .topnav-right {
      float: none;
      display: block;
      animation: slide-in 2000ms;
    }
  
    .topnav-centered a {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
      animation: slide-in 2000ms;
    }
  }



  /* Add a black background color to the top navigation */
.topnav2 {
  position: relative;
  background-color: #ec8338;
  overflow: hidden;
  animation: slide-in 2000ms;
}

/* Style the links inside the navigation bar */
.topnav2 a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  animation: slide-in 2000ms;
}

/* Change the color of links on hover */
.topnav2 a:hover {
  background-color: #f3f788;
  color: rgb(229, 86, 193);
  animation: slide-in 2000ms;
}

/* Add a color to the active/current link */
.topnav2 a.active {
  background-color: rgb(255, 251, 36);
  color: rgb(0, 0, 0);
  animation: slide-in 2000ms;
}

/* Centered section inside the top navigation */
.topnav2-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Right-aligned section inside the top navigation */
.topnav2-right {
  float: right;
  animation: slide-in 2000ms;
}

/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
@media screen and (max-width: 600px) {
  .topnav2 a, .topnav-right {
    float: none;
    display: block;
    animation: slide-in 2000ms;
  }

  .topnav2-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    animation: slide-in 2000ms;
  }
}

h1 {
  text-align: center;
  font-family: Title;
  width: 100%;

}

.titlepage {
  animation: colors 2000ms;
  animation-iteration-count: infinite;
  background-color: #62c1f4;
  box-shadow: 3px 3px 3px#381dd2;
  border-style:groove;
  border-width: 10px;
  border-color: #0412aa;
}

  /* Add a black background color to the top navigation */
  .topnav3 {
    position: relative;
    background-color: #c300ff;
    overflow: hidden;
    animation: slide-in 2000ms;
  }
  
  /* Style the links inside the navigation bar */
  .topnav3 a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    animation: slide-in 2000ms;
  }
  
  /* Change the color of links on hover */
  .topnav3 a:hover {
    background-color: #0000ff;
    color: rgb(255, 59, 206);
  }
  
  /* Add a color to the active/current link */
  .topnav3 a.active {
    background-color: rgb(255, 254, 175);
    color: rgb(0, 0, 0);
  }
  
  /* Centered section inside the top navigation */
  .topnav3-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: slide-in 2000ms;
  }
  
  /* Right-aligned section inside the top navigation */
  .topnav3-right {
    float: right;
    animation: slide-in 2000ms;
  }
  
  /* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
  @media screen and (max-width: 600px) {
    .topnav3 a, .topnav-right {
      float: none;
      display: block;
    }
  
    .topnav3-centered a {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
      animation: slide-in 2000ms;
    }
  }